.landing-page-img, .landing-page-img-2  {
  position: absolute;
  object-fit: cover;
	width: 100%;
  height: 700px;
  filter: brightness(70%);
}

.landing-page-img-2 {
  -webkit-clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  clip-path: polygon(100% 0, 0% 100%, 100% 100%);
}

#landing-title {
  position: relative;
  text-align: center;
  padding-top: 20%;
  color: rgb(221, 219, 219);
  font-family: 'Abril Fatface', cursive;
  font-size: 100px !important;
}

#web-dev-link{
  position: relative;
  margin-right: 50px;
  float: right;
  margin-top: 10%;
  color: rgb(221, 219, 219);
  font-family: 'Abril Fatface', cursive;
  font-size: 30px !important;
}

#equestrian-link{
  position: relative;
  margin-left: 50px;
  margin-top: -310px;
  float: left;
  color: rgb(221, 219, 219);
  font-family: 'Abril Fatface', cursive;
  font-size: 30px !important;
}

#equestrian-link:hover, #web-dev-link:hover{
  text-decoration: none;
  background-color: white;
  color: black;
  cursor: pointer;
}

#web-top-image{
  margin-top: -0px;
  position: relative;
  filter: brightness(67%);
  object-fit: cover;
	width: 100%;
  height: 700px;
}

.nav-links{
  font-size: 20px;
}

.navbar-brand{
  font-family: 'Abril Fatface', cursive;
  font-size: 40px !important;
  color: rgb(59, 59, 58) !important;
}





.quote-home-image{
  color:#ccc;
  font-size: 40px;
  font-family: 'Abril Fatface', cursive;
  margin-bottom: 30px;
  text-align: justify;
}

#quote-over-images{
  position: absolute;
  top: 55%;
  left: 650px;
  width: 60%;
  height: 150px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-size: 25px;
}

#button-image-home{
  color: #ccc;
  background-color: none;
  border-style: solid;
  border-color: #ccc;
  border-radius: 2px;
  padding-top: 4px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 35%;
}


#button-image-home:hover{
  color: #ccc;
  background-color: rgb(59, 59, 58) ;
  border-style: solid;
  border-color: rgb(59, 59, 58) ;
  border-radius: 2px;
  text-decoration: none;
}



.fancy {
  padding : 1em;
  font-family: sans-serif;
  color: #5a5a5c;
  padding-left: 30px !important;
  box-sizing: border-box;
  background-color: rgb(238, 236, 236);
  background-image: linear-gradient(180deg, rgba(0,0,0,0) 80%, rgb(189, 184, 184) 90%),
                    /* linear-gradient( 90deg, rgba(0,0,0,0) 95%, rgb(59, 59, 58) 95%), */
                    
                    linear-gradient( 90deg, rgba(0,0,0,0) 82%, rgb(189, 184, 184) 92%),
                    /* linear-gradient(180deg, rgba(0,0,0,0) 85%, rgb(177, 173, 173) 85%),
                    linear-gradient( 90deg, rgba(0,0,0,0) 89%, rgb(177, 173, 173) 89%), */
                    linear-gradient(180deg, rgba(0,0,0,0) 60%, rgb(221, 215, 215) 80%),
                    linear-gradient( 90deg, rgba(0,0,0,0) 66%, rgb(221, 215, 215) 86%),
/* 
                    linear-gradient(180deg, rgba(0,0,0,0) 75%, rgb(97, 97, 95) 75%), */
                    /* linear-gradient( 90deg, rgba(0,0,0,0) 83%, rgb(97, 97, 95) 83%), */
                    /* linear-gradient(180deg, rgba(0,0,0,0) 70%, rgb(59, 59, 58) 70%), */
                    linear-gradient( 90deg, rgba(0,0,0,0) 80%, #E4E4D9 80%);
}

li{
  list-style: none;
  font-weight: 350;
  font-family: sans-serif;
}

#parenting-image{
  width: 100%;
}

.social-icon-web{
  margin-left: 5px !important;
}

.social-icon-web-1{
  margin-left: 31%;
}


#about-text{
font-family: sans-serif;
font-size: 20px;
text-align: justify;
font-weight: 200;
}

.about{
  margin-left: 40px;
}

.about-div{
  background-image: url('https://images.unsplash.com/photo-1509624776920-0fac24a9dfda?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
  background-attachment: fixed;
 background-size: 100%;
 background-repeat: no-repeat;
 background-position: bottom center;
}

.about-blur{
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(2px); 
}

#about-title{
  font-family: 'Abril Fatface', cursive;
  color: rgb(59, 59, 58) !important;
}



.skills-title{
  font-family: 'Abril Fatface', cursive;
  color: rgb(59, 59, 58) !important;
}


#text-current-p{
  text-align: justify;
  font-size: 15px;
  margin-right: 20px;
}

#services-title{
  font-family: 'Abril Fatface', cursive;
  color: rgb(59, 59, 58) !important;
  text-align: center;
}

.current-work-div{
  background-color: rgb(238, 236, 236);
}
.services-div{
  background-image: url('https://images.unsplash.com/photo-1509624776920-0fac24a9dfda?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1350&q=80');
  background-attachment: fixed;
 background-size: 100%;
 background-repeat: no-repeat;
 background-position: bottom center;
}

.services-blur{
  background: rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(2px); 
}