img {
  position: absolute;
  object-fit: cover;
	width: 100%;
  height: 700px;
  filter: brightness(70%);
  
}

img:nth-of-type(2) {
  -webkit-clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  clip-path: polygon(100% 0, 0% 100%, 100% 100%);
}

#landing-title {
  position: relative;
  text-align: center;
  padding-top: 20%;
  color: rgb(221, 219, 219);
  font-family: 'Abril Fatface', cursive;
  font-size: 100px !important;
}

#web-dev-link{
  position: relative;
  margin-right: 50px;
  float: right;
  margin-top: 10%;
  color: rgb(221, 219, 219);
  font-family: 'Abril Fatface', cursive;
  font-size: 30px !important;
}

#equestrian-link{
  position: relative;
  margin-left: 50px;
  margin-top: -310px;
  float: left;
  color: rgb(221, 219, 219);
  font-family: 'Abril Fatface', cursive;
  font-size: 30px !important;
}

#equestrian-link:hover, #web-dev-link:hover{
  text-decoration: none;
  background-color: white;
  color: black;
  cursor: pointer;
}

#web-top-image{
  margin-top: -0px;
  position: relative;
  filter: brightness(67%);
}

.nav-links{
  font-size: 20px;
}

.navbar-brand{
  font-family: 'Abril Fatface', cursive;
  font-size: 40px !important;
  color: rgb(59, 59, 58) !important;
}





.quote-home-image{
  color:#ccc;
  font-size: 40px;
  font-family: 'Abril Fatface', cursive;
  margin-bottom: 30px;
  text-align: justify;
}

#quote-over-images{
  position: absolute;
  top: 55%;
  left: 650px;
  width: 60%;
  height: 150px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-size: 25px;
}

#button-image-home{
  color: #ccc;
  background-color: none;
  border-style: solid;
  border-color: #ccc;
  border-radius: 2px;
  padding-top: 4px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 35%;
}


#button-image-home:hover{
  color: #ccc;
  background-color: rgb(59, 59, 58) ;
  border-style: solid;
  border-color: rgb(59, 59, 58) ;
  border-radius: 2px;
  text-decoration: none;
}