.landing-page-img, .landing-page-img-2  {
  position: absolute;
  object-fit: cover;
	width: 100%;
  height: 700px;
  filter: brightness(70%);
}

.landing-page-img-2 {
  -webkit-clip-path: polygon(100% 0, 0% 100%, 100% 100%);
  clip-path: polygon(100% 0, 0% 100%, 100% 100%);
}

#landing-title {
  position: relative;
  text-align: center;
  padding-top: 20%;
  color: rgb(221, 219, 219);
  font-family: 'Abril Fatface', cursive;
  font-size: 100px !important;
}

#web-dev-link{
  position: relative;
  margin-right: 50px;
  float: right;
  margin-top: 10%;
  color: rgb(221, 219, 219);
  font-family: 'Abril Fatface', cursive;
  font-size: 30px !important;
}

#equestrian-link{
  position: relative;
  margin-left: 50px;
  margin-top: -310px;
  float: left;
  color: rgb(221, 219, 219);
  font-family: 'Abril Fatface', cursive;
  font-size: 30px !important;
}

#equestrian-link:hover, #web-dev-link:hover{
  text-decoration: none;
  background-color: white;
  color: black;
  cursor: pointer;
}

#web-top-image{
  margin-top: -0px;
  position: relative;
  filter: brightness(67%);
  object-fit: cover;
	width: 100%;
  height: 700px;
}

.nav-links{
  font-size: 20px;
}

.navbar-brand{
  font-family: 'Abril Fatface', cursive;
  font-size: 40px !important;
  color: rgb(59, 59, 58) !important;
}





.quote-home-image{
  color:#ccc;
  font-size: 40px;
  font-family: 'Abril Fatface', cursive;
  margin-bottom: 30px;
  text-align: justify;
}

#quote-over-images{
  position: absolute;
  top: 55%;
  left: 650px;
  width: 60%;
  height: 150px;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  font-size: 25px;
}

#button-image-home{
  color: #ccc;
  background-color: none;
  border-style: solid;
  border-color: #ccc;
  border-radius: 2px;
  padding-top: 4px;
  padding-bottom: 5px;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: 35%;
}


#button-image-home:hover{
  color: #ccc;
  background-color: rgb(59, 59, 58) ;
  border-style: solid;
  border-color: rgb(59, 59, 58) ;
  border-radius: 2px;
  text-decoration: none;
}



.fancy {
  padding : 1em;
  width: 100%;
  box-sizing: border-box;
  background-color: #E4E4D9;
  background-image: linear-gradient(180deg, rgba(0,0,0,0) 95%, rgb(59, 59, 58) 95%),
                    linear-gradient( 90deg, rgba(0,0,0,0) 95%, rgb(59, 59, 58) 95%),
                    linear-gradient(180deg, rgba(0,0,0,0) 90%, rgb(97, 97, 95) 90%),
                    linear-gradient( 90deg, rgba(0,0,0,0) 92%, rgb(97, 97, 95) 92%),
                    linear-gradient(180deg, rgba(0,0,0,0) 85%, rgb(117, 117, 117) 85%),
                    linear-gradient( 90deg, rgba(0,0,0,0) 89%, rgb(117, 117, 117) 89%),
                    linear-gradient(180deg, rgba(0,0,0,0) 80%, rgb(153, 151, 151) 80%),
                    linear-gradient( 90deg, rgba(0,0,0,0) 86%, rgb(153, 151, 151) 86%),
/* 
                    linear-gradient(180deg, rgba(0,0,0,0) 75%, rgb(97, 97, 95) 75%), */
                    linear-gradient( 90deg, rgba(0,0,0,0) 83%, rgb(97, 97, 95) 83%),
                    /* linear-gradient(180deg, rgba(0,0,0,0) 70%, rgb(59, 59, 58) 70%), */
                    linear-gradient( 90deg, rgba(0,0,0,0) 80%, rgb(59, 59, 58) 80%);
}

li{
  list-style: none;
}